<template>
    <sidebar />
    <div class="content-main ">
        <header-dash :headerData="headerData" />
        <div class="divider"></div>
        <div class="content-seccion ">
            <FormAddedProduct />
        </div>
        <footer-dash />
    </div>
</template>

<script>
import HeaderDash from '@/components/HeaderDash.vue'
import Sidebar from '@/components/Sidebar.vue'
import FormAddedProduct from '@/components/FormAddedProduct.vue'
import FooterDash from '@/components/FooterDash.vue'
export default {
    components: { HeaderDash, Sidebar, FormAddedProduct, FooterDash },
    data(){
        return {
            headerData: {
                title: 'COMPRAS- NUEVO CONCEPTO PROPS',
                username: 'ESTEFANIA RANGEL PROPS'
            }
        }
    },

}
</script>

<style scoped>
.content-main {
    width: 100%;
    display: block;
    background-color: rgb(243, 243, 243);
    padding: 0px 30px;
}

.content-seccion {
    padding: 10px 20px;


}

.divider {
    width: 90%;
    border-bottom: 1px solid rgba(161, 160, 160, 0.634);
    margin-bottom: 15px;
    margin: 0px 50px;
}
</style>