<template>
    <sidebar />
    <div class="content-main">
        <header-dash :headerData="headerData" />
        <div class="content-seccion">
            <bar-dash />
            <tableCategorie />
        </div>
    <footer-dash/>
    </div>
</template>

<script>
import HeaderDash from '@/components/HeaderDash.vue'
import Sidebar from '@/components/Sidebar.vue'
import BarDash from '@/components/BarDash.vue'
import tableCategorie from '@/components/tableCategorie.vue'
import FooterDash from '@/components/FooterDash.vue'
export default {
    components: { HeaderDash, Sidebar, BarDash, tableCategorie, FooterDash },
    data(){
        return {
            headerData: {
                title: 'COMPRAS- CATÁLAGO PROPS',
                username: 'ESTEFANIA RANGEL PROPS'
            }
        }
    },
    
}
</script>

<style scoped>
.content-main {
    width: 100%;
    display: block;
    background-color: rgb(243, 243, 243);
}

.content-seccion {
    padding: 10px 20px;


}
</style>