<template>
    <div class="search-container">
      <input type="text" placeholder="Buscar.." class="search-input " v-model="searchTerm" >
      <button class="add-button" @click="addNewItem">
        <h4>NUEVO CONCEPTO 
        <img class="img-add" src="../components/icons/outline_add_black_24dp.png" alt="Ícono ADD"></h4>
      </button>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        searchTerm: '' 
      };
    },
    methods: {
      addNewItem() {
        this.$router.push('/addproduct');
      }
    }
  };
  </script>
  
  <style scoped>

  </style>
  