<template>
    <footer class="footer">
        <div  class="left-section" >
        <img class="right-section" src="../assets/img/logo-grupo-merca-2017-white.png" alt="Logo">
        <p> | Copyright &copy; 2024 Todos los derechos reservados, Chronos y todas sus marcas son parte de Grupo Merca.</p>
  </div>
    </footer>
  </template>
  
  <script>
  export default {
    
  };
  </script>
  
  <style scoped>

  </style>
  