<template>
  <div class="shadow-container">
    <h2 class="title containerTotal">{{ nameTable }}</h2>

    <div class="containerAddproduct">
      <div class="divider"></div>
      <div class="dropdown">
        <select class="dropdown-select">
          <option v-for="(rubro, index) in listRubro" :disabled="index == 0" :selected="index == 0" :value="rubro" :key="index">{{ rubro }}</option>
        </select>
      </div>
      <div class="input-container">
        <input type="text" placeholder="DESCRIPCIÓN *" class="input-field">
      </div>
      <div class="input-container">
        <input type="text" placeholder="AÑO * " class="input-field">
      </div>

      <div class="dropdown">
        <select class="dropdown-select">
          <option v-for="(unidad, index) in listUnidad" :disabled="index == 0" :selected="index == 0" :value="unidad" :key="index">{{ unidad }}</option>
        </select>
      </div>
      <div class="buttons">
        <button class="cancel-button">Cancelar</button>
        <button class="save-button">Guardar</button>
      </div>
    </div>
  </div>
</template>
  
<script>
export default {
  name: 'MyComponent',
  data(){
    return {
      nameTable: 'NUEVO CONCEPTO',
      listRubro: ['RUBRO *', 'Activos','Opción 2','Opción 3'],
      listUnidad: ['UNIDAD *,','Opción 1','Opción 2','Opción 3'],
    }
  },
};
</script>
  
<style scoped>
.shadow-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.229);
  padding: 30px 30px;
  margin: 30px 30px;
}
</style>
  