<template>
    <header class="header header-content">
        <div class="title-section header-btm">
            <h3 class="title-section">{{ headerData.title }}</h3>
            <p class="data-seccion">{{ currentTime }} | {{ currentDate }}</p>
        </div>
        <div class="user-section">
            <div class="user-info">
                <img src="../components/icons/outline_person_black_24dp.png" alt="">
                <p>{{ headerData.username }}</p>
                <!-- Icono de notificación -->
                <div class="notification-wrapper notification-icon">
                    <img class="" src="../components/icons/outline_notifications_black_24dp.png" />
                </div>
            </div>
        </div>
    </header>
</template>
  
<script>

export default {
    data() {
        const currentDate = new Date();
        return {
            currentDate: this.formatDate(currentDate),
            currentTime: this.formatTime(currentDate),
        };
    },
    props: {
        headerData: Object
    },
    methods: {
        formatDate(date) {
            const options = {
                year: 'numeric',
                month: 'long',
                day: 'numeric'
            };
            return date.toLocaleDateString('es-ES', options);
        },
        formatTime(date) {
            const options = {
                hour: 'numeric',
                minute: 'numeric',
                second: 'numeric',
                hour12: false
            };
            return date.toLocaleTimeString('es-ES', options);
        }
    }
};
</script>
  
<style scoped></style>
  