<template>
    <div class="login-form">
      <h1>Iniciar sesión</h1>
      <form @submit.prevent="onSubmit">
        <label for="username">Usuario</label>
        <input type="text" id="username" v-model="username" required>
        <label for="password">Contraseña</label>
        <input type="password" id="password" v-model="password" required>
        <button type="submit">Ingresar</button>
      </form>
    </div>
  </template>
  <script>
  export default {
    name: 'LoginForm',
    data() {
      return {
        username: 'root',
        password: 'root',
      };
    },
    methods: {
      onSubmit() {
        this.$router.push('/homedash');

        this.$emit('login', this.username, this.password);
      },
    },
  };
  </script>
  <<style>
 
  </style>