<template>
  <aside class="sidebar">
    <div>
      <img class="sidebar-header" src="../assets/img/logo-grupo-merca-2017-white.png" alt="Logo de la barra lateral">
    </div>
    <ul>
      <li>OBRAS</li>
      <!-- Botón desplegable -->
      <li v-for="(dropdown, index) in dropdowns" :key="index">

        <button @click="toggleDropdown(index)">
          {{ dropdown.title }}

        </button>
        <img class="dropdown-sidebar " src="../components/icons/outline_expand_more_black_24dp.png" alt="">
        <ul v-show="dropdown.isOpen">
          <li class="list-items" v-for="(item, itemIndex) in dropdown.items" :key="itemIndex"
            :class="{ selected: item === selectedItem }">{{ item }}
          </li>
        </ul>
      </li>
    </ul>
  </aside>
</template>
  
<script>
export default {
  data() {
    return {
      dropdowns: [
        { title: 'COMPRAS', items: ['PROVEEDORES', 'CATÁLOGO', 'REQUISICIONES', 'ÓRDENES DE COMPRA'], isOpen: true },
        { title: 'VENTAS', items: ['Elemento 1', 'Elemento 2'], isOpen: false },
        { title: 'CONTABILIDAD', items: ['Elemento 1', 'Elemento 2'], isOpen: false },
        { title: 'ACCESOS', items: ['Elemento 1', 'Elemento 2'], isOpen: false },
        { title: 'CATÁLOGOS', items: ['Elemento 1', 'Elemento 2'], isOpen: false }
      ],
      selectedItem: 'CATÁLOGO',
    };
  },
  methods: {
    toggleDropdown(index) {
      this.dropdowns[index].isOpen = !this.dropdowns[index].isOpen;
    },
    selectItem(item) { // Added to handle item selection
      this.selectedItem = item;
    },
  }
};
</script>
  
<style scoped>
.selected {
  border-left-width: 8px;
  /* Grosor del borde izquierdo */
  border-style: solid;
  border-color: yellow;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  padding: 4px;
  /* Yellow border style */
}
</style>
  