<template>
  <div class="table-container">
    <table class="custom-table">
      <thead>
        <tr>
          <th v-for="col in columns" :key="col">{{ col }}</th>
          <h4 class="action-colum">ACCIONES</h4>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in 10" :key="row">
          <td v-for="(col, index) in columns" :key="index" class="table-cell">
            <span v-html="generateCellContent(index)"></span>

          </td>
          <td class="table-cell">

            <div class="action-icons">
              <img src="../components/icons/outline_delete_black_24dp.png" alt="Delete" />
              <img src="../components/icons/outline_edit_black_24dp.png" alt="Edit" />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="footerTable">
      <div class="item-count">
        <h6 class="table-cell">Se muestran</h6>
        <div class="dropdownTable">
          <h6 class="table-cell">{{ displayedItemsCount }}</h6>
          <img class="dropdown-toggleTable" src="../components/icons/outline_expand_more_black_24dp.png" />
        </div>
        <h6 class="table-cell">de: {{ totalItems }} resultados</h6>
        <img class="dropdown-toggleTable " src="../components/icons/outline_skip_previous_black_24dp.png" alt="">
        <img class="dropdown-toggleTable " src="../components/icons/outline_chevron_left_black_24dp.png" alt="">
        <img class="dropdown-toggleTable " src="../components/icons/outline_navigate_next_black_24dp.png" alt="">
        <img class="dropdown-toggleTable " src="../components/icons/outline_skip_next_black_24dp.png" alt="">
      </div>
    </div>
  </div>
</template>
  
<script>
export default {
  data() {
    return {
      columns: ['CODIFICADO', 'RUBRO', 'DESCRIPCIÓN', 'UNIDAD', 'AÑO'],
      totalItems: 20, // Ejemplo de total de elementos
      displayedItemsCount: 15 // Ejemplo de cantidad de elementos mostrados
    };
  },
  methods: {
    generateCellContent(index) {
      if (index === 0) {

        return Math.random().toString(36).substring(2, 8).toUpperCase();
      } else if (index === 1) {

        const rubros = ['Servicios', 'Mantenimiento'];
        return rubros[Math.floor(Math.random() * rubros.length)];
      } else if (index === 2) {

        return `Descripción ${Math.floor(Math.random() * 10 + 1)}`;
      } else if (index === 3) {

        const unidades = ['Piezas', 'Paquete'];
        return unidades[Math.floor(Math.random() * unidades.length)];
      } else if (index === 4) {

        return Math.floor(Math.random() * (2022 - 2000 + 1)) + 2000;

      }
    }

  }
};

</script>
  

  
<style scoped></style>
  