@media (min-width: 1024px) {

    /* BUSCADOR */
    .search-container {
        display: flex;
        align-items: center;
        padding: 20px 30px 0px;
        border-top: 1px solid rgba(63, 63, 63, 0.227);

    }

    .search-input {
        flex: inherit;
        border-radius: 5px;
        padding: 10px 10px;
        width: 90%;
        border: 1px solid #ccc;
        text-align: left;
        margin-right: 262px;
        background-image: url("../components/icons/outline_search_black_24dp.png");
        background-position: 95% center;
        background-repeat: no-repeat;

    }

    .add-button {
        background-color: #ffde06;
        border: none;
        border-radius: 5px;
        padding: 10px 10px;
        margin-left: 321px;
        cursor: pointer;
        width: 53%;
        color: #000;

    }

    .img-add {
        width: 14px;
    }



    .add-button:hover {
        background-color: #ffcc00;
    }

    /*LOGIN FORMULARIO */

    .login-form {
        width: 300px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .login-form h1 {
        text-align: center;
    }

    .login-form form {
        display: flex;
        flex-direction: column;
    }

    .login-form label {
        margin-bottom: 5px;
    }

    .login-form input {
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .login-form button {
        margin-top: 10px;
        padding: 5px 10px;
        border: 1px solid #000;
        border-radius: 4px;
        background-color: #000;
        color: #fff;
    }


    /* Estilos específicos del encabezado */
    .header {
        width: 100%;
        max-height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(243, 243, 243);
        color: white;
        padding: 20px 50px;

    }

    .title-section {
        text-align: left;
        color: black;
        font-weight: bold;
        font-size: 15px;

    }

    .user-section {
        text-align: left;
        color: black;
        display: flex;
        align-items: center;
        background-color: #fffdfd;
        border-radius: 5px;
    }

    .notification-icon {
        width: 50px;
        cursor: pointer;
    }
    .notification-wrapper {
      
        width: 10px;
        height: 10px;
        border-radius: 50%; 
        background-color: red; 
        display: flex;
        justify-content: right; 
        align-items:start;
      }

    .user-info {
        display: flex;
      
        align-items: flex-start;
        padding-left: 20px;
        
        
    }

    .user-info p {
        margin-right: 40px;
        color: grey;
        font-size: 16px;
       
      
    }

    .data-seccion {
        color: grey;
        font-size: 13px;
        
    }

    .containerTotal {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 254px;

    }

    .containerAddproduct {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 100px 200px 50px;

    }

    .title {
        font-weight: bold;
        margin-bottom: 10px;
        color: black;
    }

    .divider {
        width: 50%;
        border-bottom: 4px double black;
        margin-bottom: 15px;
    }

    .dropdown {
        border-bottom: 1px solid black;
        width: 50%;
        margin-bottom: 10px;
    }

    .dropdown-select {
        width: 100%;
        padding: 8px;
        font-size: 12px;
        border: none;
        color: black;
    }

    .input-container {
        width: 50%;
        margin-bottom: 10px;
    }

    .input-field {
        width: 100%;
        padding: 8px 15px;
        font-size: 12px;
        border: transparent;
        border-bottom: 1px solid black;
        color: black;
    }

    .buttons {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        margin: 20px 0px;
    }

    .cancel-button {
        padding: 8px 20px;
        margin-left: 10px;
        font-size: 16px;
        border: none;
        background-color: #dddddd00;
        color: black;
        cursor: pointer;
        border-radius: 5px;
    }

    .save-button {
        padding: 8px 20px;
        margin-left: 10px;
        font-size: 16px;
        border: none;
        background-color: #ffe600;
        color: black;
        cursor: pointer;
        border-radius: 2px;
    }

    .cancel-button:hover {
        background-color: grey;
    }

    .save-button:hover {
        background-color: #f3c809;
    }


    /*footer */
    .footer {
        color: grey;
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }

    .left-section {
        display: flex;
        align-items: center;
        font-size: 10px;
    }

    .right-section {
        width: 100px;
        height: auto;
        filter: invert(1);
        padding: 0px 5px;

    }


    /* Estilos específicos de la barra lateral */
    .sidebar {
        width: 200px;
        background-image: url('../assets/img/sidebar.png');
        color: white;
        padding: 20px;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;


    }

    button {
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
        padding: 0px 10px 0px 0px;
    }

    .list-items {
        font-size: 11px;
        color: white;
        padding: 0px 0px 0px 15px;
    }

    .sidebar-header {
        width: 100%;
        margin-bottom: 50px;
    }

    .dropdown-sidebar {
        filter: invert(1);
        width: 15px;
    }

    .table-container {
        background-color: #fff;

        border-radius: 5px;
        
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.229);
       
        padding: 5px 30px;
        margin: 30px 30px;
    }

    .action-icons {
        display: flex;

        align-items: center;
    }

    .table-container table th:last-child,
    .table-container table td:last-child {
        width: 20px;
     
    }

    .custom-table {
        border-collapse: collapse;
        width: 100%;
        border-bottom: 1px solid black;
        margin: 30px 0;
    }

    .custom-table th,
    .custom-table td {
        border-bottom: 1px solid black;
        padding: 10px;
        text-align: center;
    }

    .custom-table th {
        font-weight: bold;
    }

    .table-cell {
        font-weight: bold;
    }

    .custom-table {
        border-collapse: collapse;
        width: 100%;

    }

    .custom-table th,
    .custom-table td {
        border-bottom: 1px solid rgb(145, 144, 144);
        padding: 10px;
        text-align: center;

    }

    .custom-table th {
        font-weight: bold;
        color: black;
        border-bottom: 3px solid rgb(0, 0, 0);
        font-size: 13px;
    }

    .table-cell {
        font-weight: normal;
        color: rgb(67, 66, 66);
        font-size: 12px;
    }

    .footerTable {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .item-count {
        margin-top: 10px;
        display: flex;
        align-items: center;
        padding: auto;
    }

    .dropdownTable {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 5px 10px;
        display: flex;
        align-items: center;
    }

    .dropdown-toggleTable {
        cursor: pointer;
        color: rgb(67, 66, 66);
        width: 25px;
        padding: 0px 3px;
    }

    .dropdown-content {
        display: none;
    }

    .dropdownTable:hover .dropdown-contentTable {
        display: block;
    }

    .action-colum {
        font-weight: bold;
        color: black;
        border-bottom: 3px solid rgb(0, 0, 0);
        font-size: 13px;
        margin-top: 2px;
        margin-bottom: -4px;
        padding: 9px 0px;
    }
}