<script setup>
import { RouterLink, RouterView } from 'vue-router'

</script>

<template>
<div class="centered-content"></div>
  <RouterView />
</template>

<style scoped>
.centered-content {
  display: contents;
  justify-content: center;
  align-items: center;
  min-height: 10vh; /* Ensures content fills the viewport height */
}

@media (min-width: 1024px) {
  .centered-content {
  display: contents;
  justify-content: center;
  align-items: center;
  min-height: 10vh; /* Ensures content fills the viewport height */
}
}
</style>
